{% extends 'base.html' %}
{% load static %}

{% block headers %}
{% endblock headers %}

{% block navbar %}
{% endblock navbar %}


{% block content %}
<div class="container p-5 reset_form">
    <h4 class="font-weight-bold mt-3">فرم بازیابی رمز عبور</h4>
    <hr>
    <p>لطفا رمز عبور جدید را وارد نمایید</p>
    <form method="POST">
        {% csrf_token %}
            <div style="display: flex;justify-content: center;" class="row">
                <label class="col-12 "> رمز عبور جدید:</label>
                {{ form.new_password1}}  
            </div>
             <div style="display: flex;justify-content: center;" class="row">
                <label class="col-12 " >تکرار رمز عبور جدید :</label> 
                {{ form.new_password2}}
             </div>  
             <div class=" button_wrapper"> <button  class="btn btn-danger" type="submit" >ارسال  </button></div>                  
    </form>

    <div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
         {% endif %}
    </div>
</div>
{% endblock content%}