{% extends 'base.html' %}

{% block content %}

    {% for category in categories %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{category.pic.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{category.category_name}}</h5>
          <p class="card-text">{{category.category_description}}</p>
          <a href="{% url 'products:show-products' category.category_name %}" class="btn btn-primary">Go to products</a>
        </div>
      </div>

    {% endfor %}

{% endblock content %}