{% extends 'base.html' %}

{% block content %}

    <form  method="GET">
      <select name='filter' onchange='if(this.value != 0) { this.form.submit(); }'>
          <option value='0'>فیلتر</option>
          <option value='1'>جدید</option>
          <option value='2'>محبوب</option>
          <option value='3'>پر فروش</option>
      </select>
    </form>
    
    {% for product in products %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{product.pic.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
          {% if product.discount %}
              <h3 class="card-title text-decoration-line-through">{{product.price}}ریال</h3>
              <h3 class="card-title">{{product.get_discount}}ریال</h3>  
          {% else %}
              <h3 class="card-title">{{product.price}}ریال</h3> 
          {% endif %}
          <p class="card-text">{{product.product_description}}</p>
          <p class="card-text">{{product.existance}}</p>
          <a href="#" class="btn btn-primary">Go to product</a>
        </div>
      </div>

    {% endfor %}

{% endblock content %}